In [17]:
import pandas as pd

In [18]:
path = "/Users/rubenfilipemartinsdarocha/Library/CloudStorage/GoogleDrive-rubenfilype@gmail.com/My Drive/Colab Notebooks/Data_Science/2.Semestre/01.Text_Mining/04.Trabalho/Datasets/Tweets_EN_sentiment_train.csv"
df = pd.read_csv(path)

In [19]:
df.head()

        tweet                                               text class
0  1229448571                  some count sheep, you count cats    pos
1  1230261573  We haven't been to Turning Stone in ages! Have...   pos
2  1228861415                                           What up    pos
3  1228489365                                          I'm good    pos
4  1229800235  I know, wonder if USER is going to buy an apar...   pos

In [20]:
colunas = df.columns.tolist()

print(f"shape: {df.shape}\n")

for coluna in df.columns:
    num_linhas = df[coluna].shape[0]  
    valores_em_branco = df[coluna].isnull().sum()  
    tipo_de_dados = df[coluna].dtype  
    
    print(f"Coluna: {coluna}")
    print(f"  Número de linhas: {num_linhas}")
    print(f"  Valores em branco: {valores_em_branco}")
    print(f"  Tipo de dados: {tipo_de_dados}\n")

shape: (39936, 3)

Coluna: tweet
  Número de linhas: 39936
  Valores em branco: 0
  Tipo de dados: int64

Coluna: text
  Número de linhas: 39936
  Valores em branco: 235
  Tipo de dados: object

Coluna: class
  Número de linhas: 39936
  Valores em branco: 0
  Tipo de dados: object

In [21]:
# Distribuição das Classes

print(df['class'].value_counts())

class
pos    33065
neg     6871
Name: count, dtype: int64

In [22]:
valores_ausentes = df[df.isnull().any(axis=1)]
valores_ausentes

            tweet text class
468    1229613877  NaN   neg
620    1229815502  NaN   pos
733    1228500852  NaN   pos
879    1229218078  NaN   neg
1060   1230727494  NaN   pos
...           ...  ...   ...
39158  1229309579  NaN   neg
39227  1229027568  NaN   pos
39288  1224601475  NaN   neg
39362  1230226128  NaN   neg
39877  1230697072  NaN   neg

[235 rows x 3 columns]

In [29]:

df_limpo = df_limpo.dropna()

df_limpo['text'] = df_limpo['text'].astype(str).str.lower().str.strip()

df_limpo = df_limpo[~df_limpo['text'].isin(['nan', 'NaN',' '])]

print("Linhas com valores ausentes identificadas anteriormente:\n", valores_ausentes)
print("\nDataFrame após limpeza:\n", df_limpo.info())

Linhas com valores ausentes identificadas anteriormente:
             tweet text class
468    1229613877  NaN   neg
620    1229815502  NaN   pos
733    1228500852  NaN   pos
879    1229218078  NaN   neg
1060   1230727494  NaN   pos
...           ...  ...   ...
39158  1229309579  NaN   neg
39227  1229027568  NaN   pos
39288  1224601475  NaN   neg
39362  1230226128  NaN   neg
39877  1230697072  NaN   neg

[235 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 39697 entries, 0 to 39935
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet     39697 non-null  int64
 1   text      39697 non-null  object
 2   class     39697 non-null  object
 3   text_len  39697 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.5+ MB

DataFrame após limpeza:
 None

In [23]:
num_valores_nan = df['text'].isnull().sum()
num_valores_nan

235

In [24]:
df_limpo = df.dropna(subset=['text'])
len(df_limpo)

39701

In [25]:
# identificar

df['text'] = df['text'].astype(str)
df['text'] = df['text'].str.strip()

df_apenas_numeros = df[df['text'].str.match('^\d+$')]

df_apenas_numeros

            tweet text class
35339  1229561964    4   pos
39934  1228100681  404   neg

In [26]:
indices_a_remover = df_apenas_numeros.index

df_limpo = df.drop(indices_a_remover)

len(df_limpo)

39934

In [27]:
df_limpo

            tweet                                               text class
0      1229448571                   some count sheep, you count cats   pos
1      1230261573  We haven't been to Turning Stone in ages! Have...   pos
2      1228861415                                            What up   pos
3      1228489365                                           I'm good   pos
4      1229800235  I know, wonder if USER is going to buy an apar...   pos
...           ...                                                ...   ...
39930  1230446268                                          check,...   pos
39931  1230130325                                     LOL- F, please   pos
39932  1229250927  I wish I could do that too! But it ain't happe...   neg
39933  1228710021                     I &lt;3 my boyfriend's family.   pos
39935  1229022675  RT USER ok i can still tweet but admit i am a ...   pos

[39934 rows x 3 columns]

In [28]:
df_limpo['text_len'] = df_limpo['text'].apply(len)

df_ordenado = df_limpo.sort_values(by='text_len')

df_top50_menor_len = df_ordenado.head(50)

print(df_top50_menor_len)

            tweet text class  text_len
25718  1230012286        pos         0
37975  1222371193        pos         0
2195   1229047396    ?   pos         1
33383  1230101566    ?   neg         1
12016  1229891566    -   pos         1
36168  1229657995    -   pos         1
9515   1229798429   np   pos         2
27006  1229708222   a!   pos         2
1725   1229309407   no   neg         2
1817   1229659368   kk   pos         2
19185  1229294308   ok   pos         2
26726  1230359700   no   pos         2
13350  1230416132   np   pos         2
32264  1230086814   Hi   pos         2
37033  1229179899   hi   pos         2
32879  1230508155   ge   pos         2
30899  1228858960   hi   pos         2
32844  1229029942   np   pos         2
29191  1231065278   Hi   pos         2
28743  1229196530   hi   pos         2
16418  1229878502   No   neg         2
39107  1230430370   hi   pos         2
36009  1231087172   gm   pos         2
35412  1230745018   ty   pos         2
21069  1230362256   :P   pos         2
28477  1229070079   ??   pos         2
33228  1230609050   hi   pos         2
20694  1228955215   oi   pos         2
20980  1229436881   is   pos         2
11230  1228366532  BOO   neg         3
31668  1229730914  URL   pos         3
36893  1231130761  nan   neg         3
2491   1229716286  nan   pos         3
18007  1229142169  nan   pos         3
2507   1231011265  URL   pos         3
11293  1229795312  nan   neg         3
11298  1230649832  nan   neg         3
37324  1230048348  nan   neg         3
417    1229205141  ???   pos         3
25066  1229203635  boo   neg         3
35576  1229568587  nan   pos         3
34537  1229813714  nan   neg         3
2567   1230407822  hoi   pos         3
6125   1231298772  nan   pos         3
29134  1230663430  nan   pos         3
6099   1230235229  nan   pos         3
29104  1230100961  nan   neg         3
21704  1230283015  nan   pos         3
35906  1230455048  nan   pos         3
29082  1229528197  nan   pos         3