In [28]:
import pandas as pd

In [29]:
path = "Datasets/Tweets_EN_sentiment_train.csv"
df = pd.read_csv(path)

In [39]:
df.head()

        tweet                                               text class
0  1229448571                  some count sheep, you count cats    pos
1  1230261573  We haven't been to Turning Stone in ages! Have...   pos
2  1228861415                                           What up    pos
3  1228489365                                          I'm good    pos
4  1229800235  I know, wonder if USER is going to buy an apar...   pos

In [37]:
colunas = df.columns.tolist()

print(f"shape: {df.shape}\n")

for coluna in df.columns:
    num_linhas = df[coluna].shape[0]  
    valores_em_branco = df[coluna].isnull().sum()  
    tipo_de_dados = df[coluna].dtype  
    
    print(f"Coluna: {coluna}")
    print(f"  Número de linhas: {num_linhas}")
    print(f"  Valores em branco: {valores_em_branco}")
    print(f"  Tipo de dados: {tipo_de_dados}\n")

shape: (39936, 3)

Coluna: tweet
  Número de linhas: 39936
  Valores em branco: 0
  Tipo de dados: int64

Coluna: text
  Número de linhas: 39936
  Valores em branco: 235
  Tipo de dados: object

Coluna: class
  Número de linhas: 39936
  Valores em branco: 0
  Tipo de dados: object

In [40]:
# Distribuição das Classes

print(df['class'].value_counts())

class
pos    33065
neg     6871
Name: count, dtype: int64